/* ------------------------------------ *\
  * LANDING PAGE
\* ------------------------------------ */

@import "../../../_01_abstracts/abstracts.scss";
@import "../../../_02_themes/base.theme.scss";
@import "../../../_03_base/base.scss";

@import "../../_01_templates/generic.template.layer.scss";
