$type: "cmp";
$block: "#{$type}-range";

.#{$block} {
  @include e("input") {
    @extend %border-radius-3;
    @extend %margin-right-16;
    @extend %display-block;
  }

  @include e("label") {
    @include font($label);

    @extend %margin-bottom-8;
    @extend %display-block;
  }
}
