/* ------------------------------------ *\
 * #BUTTON
\* ------------------------------------ */
$type: "cmp";
$block: "#{$type}-button";

.#{$block} {
  @include element("base") {
    @include font($button);
    @include use-extends((cursor-pointer, display-inline-block, no-border));
    @extend %padding-16;

    &:disabled {
      @extend %cursor-not-allowed;

      background-color: get-color($c-light, gainsboro-white);
    }

    &:focus {
      outline: 0;
    }

    &:not(:first-child) {
      margin-left: calc(#{$gutter} / 2);
    }

    @include m("isAnimated") {
      @include transition(
        $transition-property: transform,
        $transition-time: 0.3s
      );

      &:hover:not(:disabled) {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }
    }

    @include m("success") {
      @extend %bkg-color-success;

      &:active {
        box-shadow: 0 0 0 convert-rem(3px) rgba(get-color($c-green, green-cyan), 0.5);
      }
    }

    @include m("primary", "success", "danger" ) {
      @extend %txt-color-white;
    }

    @include m("secondary", "warning") {
      @extend %txt-color-jet-black;
    }

    @include m("primary") {
      @extend %bkg-color-primary;
    }

    @include m("secondary") {
      @extend %bkg-color-secondary;

      box-shadow: get-color($c-dark, dark-15) 0 0 0 convert-rem(1px) inset;
    }

    @include m("danger") {
      @extend %bkg-color-danger;
    }

    @include m("warning") {
      @extend %bkg-color-warning;
    }

    @include m("rounded") {
      @extend %border-radius-6;
    }
  }
}
