@use "sass:math";
$type: "cmp";
$block: "#{$type}-example";

.#{$block} {
  @include e("base") {
    @include flex();
    @include font($label);
    @include border(($baseline / 2) solid get-color($c-light, gainsboro-white));
    @include transition($transition-property: border-color, $transition-time: 0.4s);
    @extend %bkg-color-secondary;

    color: get-color($c-gray, spanish-gray);

    // normal size
    height: $baseline * 4;
    width: $gutter * 2;

    &.active {
      border-color: get-color($c-blue, carolina-blue);
    }

    /* Radius */
    @include m("full-radius") {
      @extend %full-border-radius;
    }

    @include m("rounded-sm") {
      @extend %border-radius-2;
    }

    @include m("rounded-md") {
      @extend %border-radius-6;
    }

    @include m("rounded-lg") {
      @extend %border-radius-12;
    }

    /* Size */
    @include m("large") {
      height: $baseline * 6;
      width: $gutter * 3;
    }
  }
}
