/* ------------------------------------ *\
 * IFRAME
\* ------------------------------------ */

$type: "cmp";
$block: "#{$type}-iframe";

.#{$block} {
  @include e("base") {
    @include aspect-ratio(16, 9, "cmp-iframe__iframe");
  }

  @include e("iframe") {
    @extend %size-fill-horizontal;
    @extend %size-fill-vertical;

    object-fit: cover;
  }
}
