$type: "cmp";
$block: "#{$type}-link-icon";

.#{$block} {
  @include e("base") {
    @include flex();
    @include relative();

    border-radius: 50%;
    cursor: pointer;
    transition: all 0.15s ease;
    text-decoration: none;
    color: get-color($c-blue, rhythm);

    @include on-event() {
      text-decoration: none;
    }
  }

  @include e("icon") {
    display: inline-block;
    width: convert-rem(48px);
    height: convert-rem(48px);
    stroke-width: 0;
    stroke: currentcolor;
    fill: currentcolor;
  }

  @include e("tooltip") {
    @include absolute($top: 0, $left: 50%, $z-index: tooltip);
    @include font($overline);

    padding: convert-rem(8px) convert-rem(10px);
    border-radius: convert-rem(40px);
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in-out;

    display: block;
    width: auto;
    text-align: center;

    &::after {
      @include absolute($bottom: convert-rem(1px), $left: 50%);

      display: block;
      width: 0;
      height: 0;
      content: "";
      border: solid;
      border-width: convert-rem(10px) convert-rem(10px) 0;
      border-color: transparent;
      transform: translate(-50%, 100%);
    }
  }

  @include e("icon", "tooltip") {
    .#{$block}__base:hover &,
    .#{$block}__base:active &,
    .#{$block}__base:focus & {
      color: get-color($c-gray, sonic-silver);
    }
  }

  @include e("tooltip") {
    .#{$block}__base:hover &,
    .#{$block}__base:active &,
    .#{$block}__base:focus & {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -80%);
    }
  }
}
