$type: "mod";
$block: "#{$type}-article";

.#{$block} {
  @include e("base") {
    @extend %margin-bottom-64;

    &:not(:last-of-type) {
      @extend %border-bottom-solid-silver;
    }
  }

  @include e("content") {
    align-items: stretch;
  }
}
