@use "sass:string";

/*
Inspired by:
https://www.sitepoint.com/better-solution-managing-z-index-sass/
https://webdevstudios.com/2015/09/22/using-sass-to-manage-layers-z-index/
https://medium.com/ccoutzoukis/better-z-index-management-with-sass-a8095ba3a2bc/
*/

$layers: (
  "overlay",
  "tooltip",
  "sticky",
  "flyout",
  "dropdown",
  "base"
) ;

@function layer-index($layer, $adjust: 0) {
  @if not index($layers, $layer) {
    @error "$layer: #{$layer} is an undefined and unknown layer.";
  }

  @if (($adjust > 9) or ($adjust < -9)) {
    @error "$layer: #{$layer} must only be adjusted by +/- 9, but got "#{$adjust}".";
  }

  @return (1 + length($layers) - index($layers, $layer)) * 10 + $adjust;
}
