// From https://web.dev/patterns/layout/
// Maintains the aspect ratio of an image in a card, while letting you resize the card.
// TODO: adjust according to standards

$layout: "lyt-aspect-ratio-card";

.#{$layout} {
  &__parent {
    display: grid;
    place-items: center;
  }

  &__visual {
    aspect-ratio: 16 / 9;
  }

  &__card {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}

/*
<div class="parent">
  <div class="card">
    <h1>Video Title</h1>
    <div class="visual"></div>
    <p>Descriptive Text goes here</p>
  </div>
</div>
*/
