// From https://web.dev/patterns/layout/
// Classic layout with a header, footer, and two sidebars flanking a main content area.
/// TODO: adjust according to standards
/// TODO: add demo markup

$layout: "l-holy-grail";

.#{$layout} {
  &__parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
  }

  &__header {
    padding: 2rem;
    grid-column: 1 / 4;
  }

  &__left-side {
    grid-column: 1 / 2;
  }

  &__main {
    grid-column: 2 / 3;
  }

  &__right-side {
    grid-column: 3 / 4;
  }
}
