// From https://web.dev/patterns/layout/
// A responsive layout with automatically-placed and flexible children.
// TODO: adjust according to standards

.parent {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/*
<div class="parent white">
    <div class="box">1</div>
    <div class="box">2</div>
    <div class="box">3</div>
    <div class="box">4</div>
  </div>
*/
