/**
  * Sidebar-says Layout
  * A layout where the sidebar is given a minimum and maximum safe area size,
  * and the rest of the content fills the available space.
  * FROM: https://web.dev/patterns/layout/
*/

$layout: "lyt-sidebar-says";

.#{$layout} {
  @include e("base") {
    display: grid;
    column-gap: $gutter;
  }

  @include e("sidebar") {
    grid-column: 1;
  }

  @include e("content") {
    grid-column: 2;
  }
}

/**
    <div class="l-sidebar-says__base">
        <div class="l-sidebar-says__sidebar">
        Min: 100px / Max: 25%
        </div>
        <div class="l-sidebar-says__content">
          This element takes the second grid position (1fr), meaning
          it takes up the rest of the remaining space.
        </div>
      </div>
*/
