/* ------------------------------------ *\
 * LINKS
 *
 * Define some minimal links styles
\* ------------------------------------ */

a {
  color: var(--color-link);

  &:hover {
    color: var(--color-link-hover);
  }

  &,
  &:hover {
    text-decoration: none;
  }
}
