$type: "pat";
$block: "#{$type}-fancyHoverCardList";

.#{$block} {
  &__list {
    display: flex;
  }

  &__listItem {
    margin: 10px;
    padding: 0.5em;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;

    .#{$block}__list:hover & {
      transform: scale(0.9);
      box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.8);

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 15px 30px -15px rgba(0, 0, 0, 0.5);
      }
    }

    &:first-child {
      background: #55efc4;
    }

    &:nth-child(2) {
      background: #81ecec;
    }

    &:nth-child(3) {
      background: #74b9ff;
    }

    img {
      display: block;
      max-width: 100%;
    }

    p {
      margin: 0.5em;
      text-align: center;
      color: #fff;
    }
  }
}
