@use "sass:math";

.m-progressSteps {
  &__container {
    @include flex($direction: column);

    text-align: center;
  }

  &__progress-wrapper {
    @include flex($main: space-between);
    @include relative();

    margin-bottom: $baseline * 3;
    min-width: convert-rem(350px);
    z-index: 1;

    &::before {
      @include absolute($top: 50%, $left: 0);

      content: "";
      background-color: get-color($c-light, gainsboro-white);
      transform: translateY(-50%);
      height: ($baseline / 2);
      width: 100%;
      z-index: 2;
    }
  }

  &__button-container {
    @include flex();
  }

  &__progress-bar {
    @include absolute($top: 50%, $left: 0);

    background-color: get-color($c-blue, carolina-blue);
    transform: translateY(-50%);
    height: $baseline / 2;
    width: 0%;
    transition: width 0.4s ease;
    z-index: 2;
  }
}
