/* ------------------------------------ *\
  BORDER
\* ------------------------------------ */

@mixin border($top: none, $right: none, $bottom: none, $left: none) {
  border-top: $top;
  @if $right == none {
    border-right: $top;
  } @else {
    border-right: $right;
  }
  @if $bottom == none {
    border-bottom: $top;
  } @else {
    border-bottom: $bottom;
  }
  @if $left == none {
    border-left: $top;
  } @else {
    border-left: $left;
  }
}
