/* stylelint-disable */
@mixin mix-color($color: get-color($c-dark, dark), $light: 0, $dark: 0) {
  color: $color;
  @if $light != 0 {
    color: lighten($color, $light);
  } @else if $dark != 0 {
    color: darken($color, $dark);
  }
}

@mixin mix-bg-color($color: get-color($c-dark, dark), $light: 0, $dark: 0) {
  background-color: $color;
  @if $light != 0 {
    background-color: lighten($color, $light);
  } @else if $dark != -1 {
    background-color: darken($color, $dark);
  }
}
/* stylelint-enable */
