/// Shorthand mixin for flex box - can be used to center content by default
/// @param {String} $main - justify-content properties
/// @param {String} $cross - align-item properties
/// @param {String} $direction - flex-direction properties

@mixin flex($main: center, $cross: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $main;
  align-items: $cross;
}
