%debug {
  outline: 1px solid #f0f !important;
  outline-style: solid !important;
}

%debug2 {
  outline: 1px solid #008000 !important;
  outline-style: solid !important;
}

%debug3 {
  outline: 1px solid #0ff !important;
  outline-style: solid !important;
}

.debug4 {
  outline: 1px solid #ff6347 !important;
  outline-style: solid !important;
}

.debug5 {
  outline: 1px solid #0f0 !important;
  outline-style: solid !important;
}

.debug6 {
  outline: 1px solid #00f !important;
  outline-style: solid !important;
}

// Add a class .withDebugs to highlight the inner elements
.withDebugs {
  @extend %debug;

  div {
    @extend %debug2;
  }

  > * {
    @extend %debug3;
  }
}

//  Mixin to draw baseline grid to check vertical rhythm
@mixin drawGrid($lh: 1rem, $color: #0ff) {
  outline: 1px solid color.adjust($color, -20%);
  background: linear-gradient(rgba($color, 0.6) 1px, transparent 1px);
  background-repeat: repeat-y;
  background-size: 100% $lh;
}
