.t-link-bare {
  text-decoration: none !important;
}

.t-link-natural {
  text-decoration: underline !important;
  color: inherit !important;
}

.t-link-obvious {
  text-decoration: underline !important;
}
