@use "sass:math";

/* ------------------------------------ *\
 * RADIUS
 *
 * Border radius sizes
 * The values here are for sample proposes, consider add your owns
 *
\* ------------------------------------ */

// Main radius
$f-radius:                    6px !default;

// Radius variants

$f-radius--none:              0 !default;
$f-radius--small:             math.round($f-radius * 0.5) !default;
$f-radius--medium:            math.round($f-radius * 1) !default;
$f-radius--large:             math.round($f-radius * 2) !default;
