/* ------------------------------------ *\
  * #SIZES
\* ------------------------------------ */

/// Default font size
/// @type Number
/// Used to convert `px` to `rem` or `em` using convert-rem() and convert-em() functions
/// Notes:
/// DO NOT CHANGE to convert-rem(16px); !!!
$default-font-size: 16px !default;

/// Project's design system sizes
/// @type Number
/// @param {Size} $baseline - horizontal base spacing value
/// @param {Size} $gutter - vertical base spacing value
$baseline:                      8px;
$gutter:                        16px;

/// Container's maximum width
/// @type Length
$max-width:                     1440px;

/// Gutter size
/// @type Number
$grid-gutter:                   32px;

/// Condensed gutter size
/// @type Number
$grid-gutter--condensed:        1px;

/* ------------------------------------ *\
 * FONT-SIZES
\* ------------------------------------ */
$font-size--xxs:                10px !default;
$font-size--xs:                 12px !default;
$font-size--s:                  14px !default;
$font-size--m:                  16px !default;
$font-size--l:                  18px !default;
$font-size--xl:                 24px !default;
$font-size--xxl:                32px !default;
$font-size--xxxl:               48px !default;


/* ------------------------------------ *\
 * BREAKPOINTS
 *
 * Viewport breakpoints
 * Values should be expressed in px.
 *
\* ------------------------------------ */
$mobile-xxs:         1px !default;
$mobile-xs:          320px !default;
$mobile:             480px !default;
$tablet-sm:          600px !default;
$tablet-md:          840px !default;
$tablet:             960px !default;
$desktop:            1280px !default;
$desktop-xl:         1439px !default;
$desktop-xxl:        1600px !default;
$ultra-wide:         1920px !default;
