$type: "cmp";
$block: "#{$type}-list-unordered";

.#{$block} {
  @include e("base") {
    @include font($body);

    color: var(--text-color);
    margin-bottom: $baseline * 2;

    @include m("row") {
      @include flex($direction: row);

      gap: $gutter;

      .pat-reference-list__base & {
        justify-content: end;
      }

      .mod-navigation-bar__base & {
        justify-content: start;
      }
    }

    @include m("bulleted") {
      list-style: circle;
      list-style-position: inside;
    }
  }
}
