/* ------------------------------------ *\
  * GENERIC TEMPLATE LAYER
\* ------------------------------------ */

// abstracts
@import "../../_01_abstracts/abstracts.scss";

// layouts
@import "../../_04_layouts/grid/minimalist/minimalist.scss";
@import "../../_04_layouts/sidebar-says.scss";
@import "../../_04_layouts/pancake-stack.scss";

// components
@import "../../_05_library/_01_components/typography/paragraph.scss";
@import "../../_05_library/_01_components/typography/link.scss";
@import "../../_05_library/_01_components/typography/heading.scss";
@import "../../_05_library/_01_components/title.scss";
@import "../../_05_library/_01_components/icon.scss";
@import "../../_05_library/_01_components/image.scss";
@import "../../_05_library/_01_components/link-icon.scss";
@import "../../_05_library/_01_components/typography/list-unordered.scss";
@import "../../_05_library/_01_components/typography/list-definition.scss";

// patterns
@import "../../_05_library/_02_patterns/figure.scss";

// modules
@import "../../_05_library/_03_modules/header.scss";
@import "../../_05_library/_03_modules/main/main-wiki.scss";
@import "../../_05_library/_03_modules/footer.scss";
@import "../../_05_library/_03_modules/side.scss";
@import "../../_05_library/_03_modules/navigation-side.scss";

// overrides
@import "../../_07_overrides/overrides.scss";

/* html basics code - TODO - integrate in LSG */

.section {
  &__base {
    width: 80%;
    min-width: 400px;
    margin: 0 auto 24px;
    background-color: rgb(255, 255, 255);
    padding: 16px;
    border-left: 6px solid #a9a9a9;
  }

  &__text {
    text-indent: 24px;
  }

  &__preformatted-text {
    border: 1px solid #a9a9a9;
    width: fit-content;
    margin: auto;
    padding: 0 16px;
  }
}
